html {margin: 0; background-color: #e7e7e7;}
h1,h4,h3, h5,h6,h2 {margin-block-end: 0;margin-block-start: 0;}
body {width: 100%; position: relative; margin: 0;}
ol,ul, li {margin-block-start: 0; margin-block-end: 0; list-style-type: none; padding-inline-start:0;}
p {display: inline-block;margin-block-start: 0px;margin-block-end: 0px;margin-inline-start: 0px;margin-inline-end: 0px;}
h1 {font-size: 30px;}
figure {margin-block-start: 0;margin-block-end: 0;margin-inline-start: 0px;margin-inline-end: 0px;}
section, article, label {display: inline-block;}
.Intro {width: 100%; height: 100%; display: inline-block; overflow: hidden; text-align: center; background-color: #e7e7e7;}
.Intro .Title {width: 90%; text-align: center;}
.Intro .Title h1 {font-weight: normal; font-size: 50px; margin: 10px auto;}
.Intro .Title img {width: 400px; height: 400px;margin: 50px auto 20px auto;}





@media only screen and (max-device-width: 750px) {

}




@media only screen and (min-device-width: 751px) and (max-device-width: 1024px) {

}




















